<section id="about" class="section section-about">
    <div class="container">
        <h2 class="section-title">About us</h2>

        <div class="team-grid">
            <div class="team-card">
                <div class="team-card-image">
                    <img src="photo/Raffaghello_tommaso.jpg" alt="Raffaghello Tommaso photo">
                </div>
                <div class="team-card-content">
                    <h3>Raffaghello Tommaso</h3>
                    <p class="role" style="color: #199BFC;">Student of Data Analysis</p>
                    <p class="bio">Some text</p>
                    <div class="social-links">
                        <a href="#" class="social-icon">LinkedIn</a>
                        <a href="https://github.com/raffato01" target="_blank" class="social-icon">GitHub</a>
                    </div>
                </div>
            </div>

            <div class="team-card">
                <div class="team-card-image">
                    <img src="photo/Polizzi_Lucrezia.JPG" alt="Polizzi Lucrezia photo">
                </div>
                <div class="team-card-content">
                    <h3>Polizzi Lucrezia</h3>
                    <p class="role" style="color: #199BFC;">Student of Data Analysis</p>
                    <p class="bio">Some text</p>
                    <div class="social-links">
                        <a href="#" class="social-icon">LinkedIn</a>
                        <a href="https://github.com/Lucr3" target="_blank" class="social-icon">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>