<section class="section section-chart" id="chapter1">
  <div class="container">
    <h2>War and Disasters</h2>
    <br style="color: var(--text-muted); font-size: 1.1rem; margin-bottom: var(--spacing-lg);">Data collected over eleven years outlines a story that extends far beyond the confines of the combat zones. This chapter seeks to disentangle the Yemen crisis into its constituent elements, visualizing two parallel realities. <br>At the top, time and space define the geography of the war: a fluid representation of how political violence has saturated the region. At the bottom, the focus shifts to the structural and human consequences that do not directly derive from weapons. <br> From cholera to tropical storms, the hierarchical breakdown of events reveals the impact of hostile nature on a collapsed infrastructure. This analytical framework is essential for understanding how, in this decade, the humanitarian emergency has been fueled by a lethal synergy between armed conflict and natural disasters.</p>
    
    <div class="chart-wrapper" id="SymbolMap-container">
      <svg id="symbolic-map-svg" class="symbolic-map-wrapper"></svg>
    </div>

    <div class="chart-wrapper" id="Alluvional-container"> <svg id="alluvial-svg"></svg> </div>

  </div>
</section>