<section class="section section-chart" id="chapter2">
    <div class="container">
        <h2>Titolo Capitolo 2</h2>
        <p style="color: var(--text-muted); font-size: 1.1rem; margin-bottom: var(--spacing-lg);">Sottotitolo del
            capitolo</p>

        <div class="chart-wrapper" id="ChoroplethMap-render">  <svg id="ChoroplethMap-svg" class="ChoroplethMap-wrapper"></svg></div>

        <div class="chart-wrapper" id="BoxPlot-render"> <svg id="BoxPlot-svg" class="BoxPlot-wrapper"></svg></div>

    </div>
</section>