<section id="intro" class="section section-intro">
            <div class="container">
                <h2>Il Conflitto nello Yemen</h2>
                <div class="intro-text">
                    In an ever-growing, increasingly connected world, where everything is shared and visible to everyone, 
                    there are countries experiencing dramatic situations but which, despite being in full view of the whole world, remain unseen.
                    </br>Countries where war, hunger, thirst, and pain are the order of the day.
                    </br>Countries where a child's hope is not to receive a toy, but to survive another day.
                    </br>Countries whose voices are drowned out by the noise of the world, but which are there and continue to resist despite everything.
                    </br>It is to those countries that we want to give back a voice, it is to those countries that we want to restore hope.
                    </br>This is not the story of a single country, but the story of thousands of countries, people, children, and mothers.
                    </br>This is the story of Yemen.

                </p>
            </div>
</section>